APP_NAME="Aether Smart Home"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=Asia/Jakarta
APP_URL=http://localhost:8000

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=db.jjyvzcsxuhwnhshjgszt.supabase.co
DB_PORT=5432
DB_DATABASE=postgres
DB_USERNAME=postgres
DB_PASSWORD=smarthomedb123

QUEUE_CONNECTION=sync

MQTT_HOST=broker.shiftr.io
MQTT_PORT=1883
MQTT_USERNAME=jenul
MQTT_PASSWORD=""
